@tailwind base;
@tailwind components;
@tailwind utilities;

.username{
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 30px;
/* identical to box height, or 150% */
text-align: center;
/* Gray/900 */
color: #101828;
}

.links{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 24px 32px;
    gap: 8px;
    margin-top: 15px;
    cursor: pointer;
    height: 76px;
    border: 1px solid #EAECF0;
    border-radius: 8px;
}

.link{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
}

.hng{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    text-align: center;
}

.i4g{
    width: 132.13px;
    height: 32px;
}